body {
    background-color: #212529;
}

.custom-rounded {
    border-radius: 24px;
}

.features-item-icon {
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    max-height: 70px;
    border: 3px solid darkorchid;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-text-gap {
    margin-left: 20px;
}

.large-margin-top {
    margin-top: 8rem;
}